
:root {
  --text: #242424;
  --accent-ie: #0056b8;
  --font-base: 'Segoe UI', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}
body {
  font-family: var(--font-base);
  color: var(--text);
  background-color: var(--bg);
  line-height: 1.6;
  scroll-behavior: smooth;
} 

h1,h2, h3 {
  font-family: var(--font-heading);
  margin-bottom: 20px;
  
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0;
}
nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
